@font-face {
  font-family: "CG Omega";
  src: url("fonts/cgor45w.ttf");
}
/*mein-color:#003b82;*/
/*mein-color2:#cddbee;*/
/*cddbee*/
body,
html {
    margin: 0;
    padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.padre{ 
    width:500px;
    height:700px;
    font-family: "CG Omega",Calibri;
    color:#003b82;
}
input[text]{
    display: block;
    width: 40%;
    padding-top:15px;
    border: none;
    border:solid 1px black;
    color: #003b82;
    background:white;
    font-size:15px;
    transition: .3s ease;
}

.container {
    max-width: 640px;
    font-family: "CG Omega",Calibri;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "CG Omega";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "+";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "-";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #003b82;
    background-color: #003b82;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #7FFFD4;
}



/* Footer ---------------------------------------------------------------------------- */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #efefef;
}

li {
  float: left;
}

li a {
  display: block;
  color: #003b82;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(158, 155, 155);
}

.copyright{
  position: absolute;
  top: 30px;  
  right:2%;
}
.ks-cboxtags{
  background-color: white;
}